<!DOCTYPE html>
<html>
  <head>
    <title>BeatWave</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag "favicon.ico"%>
    <script src="https://use.fontawesome.com/6b00039680.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
